<p-panel [showHeader]="false" class="flex flex-col justify-between max-w-[25vw]">
  <div id="head" class="grid grid-cols-4">
    <div class="col-span-1 text-center">
      <p-button [outlined]="true" size="large" class="my-4" [pt]="{ root: { class: 'square-button' } }">
        <img src="assets/logo.png" alt="App Logo" class="h-8 w-8" />
      </p-button>
    </div>
    <div class="col-span-3 flex items-center justify-center overflow-hidden">
      <h1 class="text-xl font-doto font-bold">Keep Calm and RallyOn!</h1>
      <!-- Rolling Ribbon Component -->
      <!-- <ro-rolling-ribbon [items]="systemMessages" [backgroundColor]="'transparent'"
        [textColor]="'primary-950'" [separator]="'|'" [animationDuration]="15"
        class="text-xl"></ro-rolling-ribbon> -->
    </div>
  </div>
  <div id="routs">
    <ul>
      @for (route of baseRoutes; track route.label) {
        <li>
          <a href="{{ route.url }}">{{ route.label }}</a>
        </li>
      }
    </ul>
  </div>
  <div id="apps">
    <ul>
      <li>some</li>
    </ul>
  </div>
  <div id="others" class="self-end grid grid-cols-4">
    <div class="col-span-1">
      <!-- Expand/Retract Button -->
      <button type="button" class="ml-auto p-2 rounded-full hover:bg-gray-100 focus:outline-none"
        aria-label="Toggle sidebar" (click)="toggleSidebar()">
        <i [ngClass]="sidebarExpanded ? 'pi pi-angle-double-left' : 'pi pi-angle-double-right'"></i>
      </button>
    </div>
  </div>
</p-panel>
